<header>
  <h2 class="contatos">
    <img src="call.png" alt="Telefone">
    <a href="tel:3335-2680" target="_top">3335-2680</a>
    <img src="envelope.png" alt="Email">
    <a href="mailto:ctjunior@ctjunior.com.br" target="_top">ctjunior@ctjunior.com.br</a>
  </h2>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Quem Somos</a></li>
    <li class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Serviços
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="dropdown-personalizado">
        <button class="dropdown-item" type="button">Tecnologia</button>
        <button class="dropdown-item" type="button">Consultoria</button>
        <button class="dropdown-item" type="button">Construção Civil</button>
      </div>
    </li>
    <li><a href="#">Contato</a></li>
    <li><a href="#">Portifolio</a></li>
    <li><a href="#">Blog</a></li>
  </ul>
</header>